<h1> Settings </h1> 
<% if params[:project_id] %>
    <% @setts.each do |c| %> 
        <li><%= link_to c.name, project_sett_path(c.project,c) %></li>
    <% end %> 
    <%= link_to 'Add Setting', new_project_sett_path(params[:project_id]) %></br>
    <%= link_to "Back to #{Project.find(params[:project_id]).title} page", project_path(params[:project_id])%>  
<% else %>
    <% @setts.each do |c| %> 
        <li><%= link_to c.name, sett_path(c) %></li>
    <% end %> 
    <%= link_to 'Add Setting', new_sett_path %></br>
    <%= link_to "Back to Home page", root_path%>
<% end %>