<h1>Projects</h1>

<p width="100">

    <%= form_for :sorts, url: projects_path, html: { method: :get } do |f| %> 
        <%= f.label :filter %> 
        <%= f.select :filter, ['none', 'title', 'genre', 'form', 'characters', 'settings', 'scenes'], :selected => @filter %>
        <%= f.submit "Filter" %>
    <% end %>


<p>Sort By Drop dowm form with partial that takes each drop down item and puts into method to pull info</p>
<div>
    <table>
        <tr>
            <th width="200">Title</th>
            <th width="200">Genre</th>
            <th width="200">Form</th>
            <th width="200">Characters</th>
            <th width="200">Settings</th>
            <th width="200">Scenes</th>
        </tr>
        <% @projects.each do |p| %>
            <tr>
                <td><%= link_to p.title, project_path(p)%></td> 
                <td><%= p.genre %></td>
                <td><%= p.form %></td>
                <td><%= p.characters.count %></td>
                <td><%= p.setts.count %></td>
                <td><%= p.scenes.count %></td>
            </tr>
        <% end %>
    </table>
<%= link_to 'Add Project', new_project_path %>
</div>  