<h1>Characters</h1> 

<%= form_for :sorts, url: @url, html: { method: :get } do |f| %> 
    <%= f.label :filter %> 
    <%= f.select :filter, ['none', 'name'], :selected => params[:sorts][:filter] %>
    <%= f.submit "Filter" %>
<% end %>

<% if params[:project_id] %>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Bio</th>
            <th></th>
            <th></th>
        </tr>
        <% @characters.each do |c| %>
                <tr> 
                    <td><%= link_to c.name, project_character_path(params[:project_id], c) %></td>
                    <td><%=c.age%></td>
                    <td><%=c.bio%></td>
                    <td><%= button_to "Delete", project_character_path(params[:project_id], c), method: :delete %></td>
                    <td><%= link_to 'Edit', edit_project_character_path(params[:project_id], c)%></td>
                </tr>

        <% end %> 
    </table>
    
    <%= link_to 'Add Character', new_project_character_path(params[:project_id]) %></br>
    <%= link_to "Back to #{Project.find(params[:project_id]).title} page", project_path(params[:project_id])%>  

<% else %>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Bio</th>
            <th></th>
            <th></th>
        </tr>
        <% @characters.each do |c| %>
                <tr> 
                    <td><%= link_to c.project.title, project_path(c.project) %>
                    <td><%= link_to c.name, character_path(c) %></td>
                    <td><%=c.age%></td>
                    <td><%=c.bio%></td>
                    <td><%= button_to "Delete", character_path( c), method: :delete %></td>
                    <td><%= link_to 'Edit', edit_character_path( c)%></td>
                </tr>
        <% end %> 
    </table>

    <%= link_to 'Add Character', new_character_path %></br>
    <%= link_to "Back to Home page", root_path%>

<% end %>