<h1><%= @character.name %></h1>
<p>Age: <%= @character.age %></p>
<p>Bio: <%= @character.bio %></p>
<% if params[:project_id] %> 
    <%= link_to 'Back to Characters', project_characters_path(params[:project_id])%><br>
    <%= link_to 'Edit Character', edit_project_character_path(params[:project_id], @character)%><br> 
    <%= button_to "Delete Character", project_character_path(params[:project_id], @character), method: :delete %>
<% else %> 
    <%= link_to 'Back to Characters', characters_path()%><br>
    <%= link_to 'Edit Character', edit_character_path( @character)%><br> 
    <%= button_to "Delete Character", character_path( @character), method: :delete %>
<% end %> 