<div>

<h3> Hi <%= @user.username%></h3>
<div>
    <% @posts.each do |p| %> 
        <ul>
            <h4><%= p.name %></h4>
            <p><%= p.description %></p>
            <li><%= p.link %><br></li>
        </ul>
    <% end %>
</div>
<% if current_user.admin %>
    <%= link_to "Add Post", new_post_path %>
<% end %>
</div>