<h1>Peer Reviews</h1> 
<h4>Your Requested Reviews</h4>
<table>
    <th>Review Request Date</th>
    <th>Project</th>
    <th>Reviewer</th>
    <th>Accepted</th>
    <th>Status<th> 
    <th></th>
    <% @sub_reviews.each do |rr| %> 
        <tr> 
            <td><%= rr.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= rr.project.title %></td>
            <% if rr.reviewer %>
                <td><%= rr.reviewer.username %></td>
            <% else %>
                <td>Unassigned</td>
            <% end %>
            <td><%= rr.accepted %></td>
            <td><%= rr.review_status%></td>
        <tr>
    <% end %> 
</table>

<p><%= link_to "Request a review", new_review_path %></p>

<h4> Accepted Peer Reviews</h4>
<table>
    <th>Review Request Date</th>
    <th>User</th>
    <th>Project</th>
    <th>Genre</th>
    <th>Accepted</th>
    <th>Status<th> 
    <th></th>
    <% @acc_reviews.each do |rr| %> 
        <tr> 
            <td><%= rr.created_at.strftime("%m/%d/%Y")  %></td>
            <td><%= User.find(rr.reviewee_id).username %></td>
            <td><%= rr.project.title %></td>
            <td><%= rr.project.genre %></td>
            <td><%= rr.accepted %></td>
            <td><%= rr.review_status%></td>
            <td><%= button_to "Cancel", review_path(rr), method: :patch, params: {accepted: false} %></td>
        <tr>
    <% end %> 
</table>

<h4> Accept a Peer Review</h4>

<table>
    <th>Review Request Date</th>
    <th>User</th>
    <th>Project</th>
    <th>Genre</th>
    <th>Accepted</th>
    <th>Status<th> 
    <th></th>
    <% @req_reviews.each do |rr| %> 
        <tr> 
            <td><%= rr.created_at.strftime("%m/%d/%Y")  %></td>
            <td><%= User.find(rr.reviewee_id).username %></td>
            <td><%= rr.project.title %></td>
            <td><%= rr.project.genre %></td>
            <td><%= rr.accepted %></td>
            <td><%= rr.review_status%></td>
            <td><%= button_to "Accept", review_path(rr), method: :patch, params:{ accepted: true} %></td>
        <tr>
    <% end %> 
</table>


